body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}
a {
  color: #242424;
  font-size: 1em;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}
a:hover {
  text-decoration: underline;
  /*background: linear-gradient(#8e86b5, #acaeed);
  text-decoration: none;
  border-radius: 2px;*/
}
p,
li {
  font-family: "Manrope", sans-serif;
  font-size: 1.1em;
  color: #f9f8ff;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5em;
  color: #a5b4fc;
}
h2 {
  color: #f9f8ff;
}
.en-tete,
.pied-de-page {
  background-color: white;
}

em {
  color: #a5b4fc;
  font-style: normal;
}
.cta {
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
}
.cta:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}
.carre-liste {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
}
.opacity:hover {
  opacity: 0.5;
}
