* {
  margin: 0;
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 1em;
  background-color: #1f2039;
}
a {
  color: #242424;
  font-size: 1em;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}
a:hover {
  text-decoration: underline;
}
p,
li {
  font-family: "Manrope", sans-serif;
  font-size: 1.1em;
  color: #f9f8ff;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5em;
  color: #a5b4fc;
}
h2 {
  color: #f9f8ff;
}
header,
footer {
  background-color: white;
  padding: 20px 50px 20px 50px;
}

em {
  color: #a5b4fc;
  font-style: normal;
}
.cta {
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
}
.cta:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}
.carre-liste {
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
  padding: 50px;
}
h2 {
  margin-top: 30px;
}

ul {
  margin-top: 30px;
}
.opacity:hover {
  opacity: 0.5;
}
section {
  padding: 80px;
}
.a-propos {
  width: 50%;
  margin: auto;
}